name: OpenAPI CI

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  spectral:
    name: Spectral
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Spectral checks
        uses: stoplightio/spectral-action@v0.8.2
        with:
          file_glob: docs/openapi/openapi.yaml
          repo_token: ${{ secrets.GITHUB_TOKEN }}
